<div class="dashboard">
  <div class="header">
    <h1>Taskify</h1>
    <div class="group-btn">
      <button class="add-btn" (click)="toggleAddTask()">
        <p class="icon-add">+</p>
        <p class="title-add">Add Task</p>
      </button>
      <button class="logout-btn" (click)="logout()">
        <svg
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4"
              stroke="#f5f5f5"
              stroke-width="2.5"
              stroke-linecap="round"
            ></path>
            <path
              d="M10 12H20M20 12L17 9M20 12L17 15"
              stroke="#f5f5f5"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </svg>
      </button>
    </div>
  </div>
  <h3 class="username">Hello, {{ userData.unique_name }}</h3>

  <!-- Task Filter Component -->
  <app-task-filter (filterChange)="onFilterChange($event)"></app-task-filter>

  <!-- Overlay Background -->
  <div *ngIf="isAddTaskVisible" class="overlay">
    <div class="add-task-form">
      <h3>{{ formMode === "create" ? "Add Task" : "Update Task" }}</h3>
      <form (ngSubmit)="createTask()">
        <div>
          <label for="taskTitle">Task Title</label>
          <input
            type="text"
            id="taskTitle"
            [(ngModel)]="newTask.title"
            name="title"
            required
          />
        </div>
        <div>
          <label for="taskDescription">Description</label>
          <textarea
            id="taskDescription"
            [(ngModel)]="newTask.description"
            name="description"
            required
          ></textarea>
        </div>
        <div>
          <label for="dueDate">Due Date</label>
          <input
            type="date"
            id="dueDate"
            [(ngModel)]="newTask.dueDate"
            name="dueDate"
            required
          />
        </div>
        <div class="group-btn">
          <button type="submit" [disabled]="isLoadingT">
            <span *ngIf="!isLoadingT">{{
              formMode === "create" ? "Create Task" : "Update Task"
            }}</span>
            <span *ngIf="isLoadingT" class="spinner"></span>
          </button>
          <button type="button" (click)="toggleAddTask()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Skeleton Loader -->
  <div *ngIf="isLoading" class="skeleton-container">
    <div class="skeleton-card" *ngFor="let _ of [1, 2, 3, 4]">
      <div class="skeleton-checkmark"></div>
      <div class="skeleton-text">
        <div class="skeleton-title"></div>
        <div class="skeleton-description"></div>
        <div class="skeleton-date"></div>
      </div>
    </div>
  </div>

  <!-- Task List Component -->
  <app-task-list
    *ngIf="!isLoading"
    [tasks]="filteredTasks"
    [userId]="userData.sub"
    (editTask)="editTask($event)"
  ></app-task-list>
</div>
