/* Container for the dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

/* Header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: #3f51b5;
}

.group-btn {
  display: flex;
}

.add-btn,
.logout-btn {
  margin-left: 8px;
}

.add-btn {
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 105 105 / var(--tw-bg-opacity));
  padding: 0.25rem 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-duration: 0.2s;
}

.add-btn:hover {
  --tw-bg-opacity: 0.9;
}

.logout-btn {
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  font-weight: 600;
  background-color: transparent; /* Remove background if desired */
  border: none; /* Remove default border */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox to center the icon */
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer; /* Pointer cursor for better UX */
  width: 36px; /* Match icon width */
  height: 36px; /* Match icon height */
  transition-duration: 0.2s;
}

.logout-btn svg {
  width: 100%; /* Ensure SVG icon scales to button size */
  height: 100%;
}

/* Task Filter and List Component Wrappers */
app-task-filter {
  margin-bottom: 16px;
  display: block;
}

app-task-list {
  flex: 1;
  display: block;
}

/* Floating action button for adding a task */
.add-task-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 10;
  background-color: #3f51b5;
}

.add-task-btn mat-icon {
  color: white;
}

/* Styles for buttons in the header */
.profile-btn,
.logout-btn {
  color: white;
  font-weight: bold;
}

.profile-btn {
  background-color: #3f51b5;
}

.logout-btn {
  background-color: #211d1c;
}

.logout-btn:hover {
  background-color: #5d5353;
}

.profile-btn:hover {
  background-color: #303f9f;
}
