<!-- google-sign-in.component.html -->
<!-- <div id="google-signin-button" (click)="onGoogleSignIn()">
  <button mat-raised-button color="primary">Sign in with Google</button>
</div> -->
<div id="g_id_onload"
     data-client_id='949928109687-ualg36c3l1v73dtqmudotboi79f7pvds.apps.googleusercontent.com'
     data-context="signin"
     data-ux_mode="popup"
     data-itp_support="true"
     data-callback="handleOauthResponse"
     >
</div>
<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>